body {
    color: white;
    background-color: black;
    font-family: "Times New Roman", serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    border-right: 1px solid white;
    padding: 10px;
}

.page_content {
    flex: 1;
    padding: 10px;
}

h1 {
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    margin: 15px auto;
    font-size: 45px;
}

.main_screen p,
.operations p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    margin: 15px auto;
    background-color: white;
    color: black;
}

.main_screen h2,
.add_operation h2,
.operations h2 {
    text-align: center;
    margin: 15px auto;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
}

.add_operation input,
.operations input {
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}

.add_operation form,
.operations form {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 15px auto;
    flex-wrap: wrap;
}

.add_operation button,
.operations button {
    color: white;
    text-align: center;
    width: fit-content;
    font-size: 15px;
    font-family: "Times New Roman", serif;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.add_operation button:hover,
.operations button:hover {
    background-color: white;
    color: black;
}

.operations h3 {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin: 15px auto;
    text-align: center;
}

.operations input::placeholder,
.add_operation input::placeholder {
    color: #b8b8b8;
}

.operations a,
.add_operation a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
    display: block;
    margin: 5px auto;
    text-align: center;
}

.operations a:hover,
.add_operation a:hover {
    background-color: white;
    color: black;
}


.sidebar h2 {
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto 15px auto;
}

.sidebar a {
    text-decoration: none;
    color: white;
    width: fit-content;
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 0 auto 15px auto;
}

.sidebar a:hover {
    background-color: white;
    color: black;
}
